.todo-list{
    text-align: left;
    list-style: none;
    /* background-color: antiquewhite; */
    width: auto;
    padding: 10px;
    border-radius: 25px;
    margin-top: 10px;
}

.todo-list > li{
  font-weight: 700;
  font-size: 1.2em;
}